.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #434343;
}

.nav-links li {
    float: right;
}

.nav-links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav-links li a:hover {
    background-color: #333;
}

.title-banner{
    text-align: center;
    overflow: hidden;
    display: inline;
    font-size: 45px;
    text-decoration:none
}

.title-banner a{
    text-decoration: none;
    color: black;
}

.title-banner a:hover{
    color: #0f0f0f;
}

body{
    background-color: #636363;
    font-family: 'Ubuntu', sans-serif;
}

.project{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #5a5a5a;
    margin-top: 2%;
}

.project img{
    display: block;
    margin: auto;
    padding-top: 2%;
    width: 80%;
}

.project-desc{
    margin-left: 10%;
    padding-bottom: 2%;
}

.project-desc h1{
    text-decoration: underline;
    font-weight: bold;
}

.about-json{
    clear: both;
    background-color: #808080;
    display: block;
    padding: 9.5px;
    /*margin: 0 0 10px;*/
    margin: 10px auto 10px;
    width: 75%;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    border: 2px solid #434343;
    border-radius: 4px;
}