.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #434343;
}

.nav-links li {
    float: right;
}

.nav-links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav-links li a:hover {
    background-color: #111;
}

.title-banner {
    text-align: center;
    overflow: hidden;
    display: inline;
    font-size: 45px;
}

body{
    background-color: #636363;
    font-family: 'Ubuntu', sans-serif;
}